#codeTextarea1, #resultadoTextarea1, #resultadoTextareaEx, #codeTextareaEx{
    font-family: 'Roboto Mono', monospace;
    resize: none;
}

#alertas, #alertaCorrecto, #alertaError, #zonaGraficos, #resultadoTextareaExDiv, #buttonSection2, #inputSection1{
    display: none;
}

input { 
    text-align: right;
    width: fit-content;
    min-width: 20px;
    font-size: 20px;
}